* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.main-section-for-image {
    position: relative;
    background: #121e68;
}

.section-nav-home {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.display-content-dashboard {
    position: absolute;
    top: 342px;
    right: 97px;
    width: 40%;
}

.image-content-paragraph {
    color: white;
    line-height: 33px;
    font-weight: 400;
    padding-bottom: 23px;
    font-size: 15px;
    font-family: 'circular';
}

.main-third-section {
    background: #121b58;
}

.show-image-content-first-section {
    padding: 40px 160px 40px 160px;
    display: flex;
}

.Seoncd-content-content {
    width: 100%;
}

.main-toog {
    display: none;
}

.Second-image-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-images-content {
    font-size: 30px;
    font-family: 'circular';
    padding-bottom: 15px;
    font-weight: revert-layer;
}

.heading-color-set {
    color: #34cee7;
}

.image-paragraph {
    line-height: 25px;
    font-size: 12px;
    font-family: 'circular';
    font-weight: bold;
    padding-bottom: 20px;
}

.main-footer-section {
    background: #121b58;
}

.footer-heading-content {
    text-align: center;
    color: white;
    padding: 40px 0px 20px 0px;
}

.logo-content {
    font-size: 54px;
    font-weight: bolder;
    color: white;
    font-style: oblique;
    padding-left: 86px;
}

.content-navbar {
    margin-right: 35px;
    font-size: 13px;
}

.image-content-first-heading {
    color: white;
    font-size: 65px;
    font-weight: 400;
    font-family: sans-serif;
    margin-bottom: -30px;
}

.image-content-second-heading {
    color: white;
    font-size: 63px;
    font-weight: bold;
    color: #34cee7;
    font-family: sans-serif;
}

.read-more-button {
    border: 2px solid #34cee7;
    border-radius: 23px;
    padding: 7px 20px;
    color: white;
    font-weight: bolder;
    font-size: 13px;
}

.fist-content-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fist-image-content {
    width: 100%;
}

.main-toog {
    display: none !important;
}

.image-laptop-show {
    width: 73%;
}

.image-dr-show {
    width: 73%;
}


div#toggleDiv {
    display: none;
    position: absolute;
    top: 0;
    background: white;
    right: 0;
    width: 100%;
}


.closediv {
    display: flex;
    justify-content: end;
}

.navbar-content-link {
    padding-right: 18px;
}

@media screen and (min-width: 320px) and (max-width: 420px) {
    .display-content-dashboard {
        top: 68px !important;
        right: 18px !important;
    }

    .image-content-paragraph {
        color: white !important;
        line-height: 10px !important;
        font-weight: 400 !important;
        padding-bottom: 1px !important;
        font-size: 7px !important;
        font-family: 'circular' !important;
    }

    .image-content-first-heading {
        font-size: 22px !important;
        margin-bottom: -8px !important;
    }

    .image-content-second-heading {
        font-size: 20px !important;
    }

    .section-nav-home {
        display: flex !important;
        justify-content: end !important;
        align-items: end !important;
        padding-right: 64px !important;
    }
}

@media screen and (min-width: 421px) and (max-width: 520px) {
    .display-content-dashboard {
        top: 94px !important;
        right: 18px !important;
    }

    .image-content-paragraph {
        line-height: 15px !important;
        font-size: 9px !important;
        padding-bottom: 5px !important;

    }

    .image-content-first-heading {
        color: white !important;
        font-size: 24px !important;
        font-weight: 400 !important;
        font-family: sans-serif !important;
        margin-bottom: -10px !important;
    }

    .section-nav-home {
        display: flex !important;
        justify-content: end !important;
        align-items: end !important;
        padding-right: 64px !important;
    }
}

@media screen and (min-width: 521px) and (max-width: 620px) {
    .display-content-dashboard {
        top: 132px !important;
        right: 18px !important;
    }

    .image-content-first-heading {
        font-size: 25px !important;
        margin-bottom: -8px !important;
    }

    .image-content-paragraph {
        font-size: 11px !important;
        line-height: 20px !important;
        padding-bottom: 9px;
    }

    .section-nav-home {
        display: flex !important;
        justify-content: end !important;
        align-items: end !important;
        padding-right: 64px !important;
    }
}

@media screen and (min-width: 621px) and (max-width: 767px) {
    .display-content-dashboard {
        top: 167px !important;
        right: 18px !important;
    }

    .image-content-first-heading {
        font-size: 34px !important;
        margin-bottom: -8px !important;
    }

    .image-content-second-heading {
        font-size: 36px !important;
    }

    .image-content-first-heading {
        font-size: 32px !important;
        margin-bottom: -8px !important;
    }

    .image-content-second-heading {
        font-size: 32px !important;
    }

    .image-content-paragraph {
        color: white !important;
        line-height: 20px !important;
        font-weight: 400 !important;
        padding-bottom: 2px !important;
        font-size: 14px !important;
        font-family: 'circular' !important;
    }

    .section-nav-home {
        display: flex !important;
        justify-content: end !important;
        align-items: end !important;
        padding-right: 64px !important;
    }
}





@media screen and (min-width: 320px) and (max-width: 767px) {


    .image-content-second-heading {
        font-size: 20px !important;
    }

    .navbar-content-link {
        display: none !important;
    }

    .logo-content {
        font-size: 31px !important;
        color: white !important;
    }

    .main-toog {
        position: absolute !important;
        top: 9px !important;
        right: 16px !important;
        font-size: 29px !important;
        color: white;
    }

    /* .display-content-dashboard {
        top: 68px !important;
        right: 18px !important;
    } */


    .read-more-button {
        border: 1px solid #34cee7 !important;
        border-radius: 31px !important;
        padding: 2px 4px !important;
        color: white !important;
        font-size: 9px !important;
        font-weight: bolder !important;
    }

    .show-image-content-first-section {
        display: inline !important;
    }

    .main-toog {
        display: block !important;
    }

    .fist-image-content {
        display: flex !important;
        justify-content: center !important;
    }

    .fist-content-content-why {
        text-align: center !important;
    }

    .Seoncd-content-content-api {
        text-align: center !important;
        padding-bottom: 30px !important;
    }
}


@media screen and (min-width: 767px) and (max-width: 1024px) {

    .logo-content {
        font-size: 54px !important;
        font-weight: bolder !important;
        color: white !important;
        font-style: oblique !important;
        padding-left: 30px !important;
    }

    .main-toog {
        display: none !important;
    }

    .section-nav-home {
        display: flex !important;
        justify-content: center !important;
    }

    .display-content-dashboard {
        top: 211px !important;
        right: 42px !important;
    }

    .image-content-first-heading {
        font-size: 40px !important;
    }

    .image-content-second-heading {
        font-size: 40px !important;
        padding-top: 12px !important;
    }

    .image-content-paragraph {
        line-height: 29px;
    }
    .show-image-content-first-section {
        padding: 30px 60px 30px 60px !important;
        display: flex !important;
    }

}


@media screen and (min-width: 1024px) and (max-width: 1280px) {

    .logo-content {
        font-size: 54px !important;
        font-weight: bolder !important;
        color: white !important;
        font-style: oblique !important;
        padding-left: 30px !important;
    }

    .main-toog {
        display: none !important;
    }

    .display-content-dashboard {
        top: 233px !important;
        right: 75px !important;
    }

}



.mytogglediv {
    padding: 24px 25px;
}
.main-section-for-image img {
    width: 100%;
}

/* .navbar-content-link {
    padding-right: 71px;
} */


img.dashbard-main-image {
    width: 1034px;
    height: 1164px;
}