* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.main-section-for-image {
    position: relative;
    background: #121e68;
    width: 100%;
    height: 1270px;
}

.section-nav-home {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.display-content-dashboard {
    position: absolute;
    top: 417px;
    right: 97px;
    width: 40%;
}

.image-content-paragraph {
    color: white;
    line-height: 33px;
    font-weight: 400;
    padding-bottom: 23px;
    font-size: 15px;
    font-family: 'circular';
}

.main-third-section {
    background: #121b58;
}

.show-image-content-first-section {
    padding: 40px 160px 40px 160px;
    display: flex;
}

.Seoncd-content-content {
    width: 100%;
}

.main-toog {
    display: none;
}

.Second-image-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-images-content {
    font-size: 30px;
    font-family: 'circular';
    padding-bottom: 15px;
    font-weight: revert-layer;
}

.heading-color-set {
    color: #34cee7;
}

.image-paragraph {
    line-height: 25px;
    font-size: 12px;
    font-family: 'circular';
    font-weight: bold;
    padding-bottom: 20px;
}

.main-footer-section {
    background: #121b58;
}

.footer-heading-content {
    text-align: center;
    color: white;
    padding: 40px 0px 20px 0px;
}

.logo-content {
    font-size: 54px;
    font-weight: bolder;
    color: white;
    font-style: oblique;
    padding-left: 86px;
}

.content-navbar {
    margin-right: 35px;
    font-size: 13px;
}

.image-content-first-heading {
    color: white;
    font-size: 65px;
    font-weight: 400;
    font-family: sans-serif;
    margin-bottom: -30px;
}

.image-content-second-heading {
    color: white;
    font-size: 63px;
    font-weight: bold;
    color: #34cee7;
    font-family: sans-serif;
}

.read-more-button {
    border: 2px solid #34cee7;
    border-radius: 23px;
    padding: 7px 20px;
    color: white;
    font-weight: bolder;
    font-size: 13px;
}

.fist-content-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fist-image-content {
    width: 100%;
}

.main-toog {
    display: none !important;
}

.image-laptop-show {
    width: 73%;
}

.image-dr-show {
    width: 73%;
}


div#toggleDiv {
    display: none;
    position: absolute;
    top: 0;
    background: white;
    right: 0;
    width: 100%;
}


.closediv {
    display: flex;
    justify-content: end;
}

.navbar-content-link {
    padding-right: 18px;
}

@media screen and (min-width: 320px) and (max-width: 420px) {
    .display-content-dashboard {
        top: 68px !important;
        right: 18px !important;
    }

    .image-content-paragraph {
        color: white !important;
        line-height: 10px !important;
        font-weight: 400 !important;
        padding-bottom: 1px !important;
        font-size: 7px !important;
        font-family: 'circular' !important;
    }

    .image-content-first-heading {
        font-size: 22px !important;
        margin-bottom: -8px !important;
    }

    .image-content-second-heading {
        font-size: 20px !important;
    }

    .section-nav-home {
        display: flex !important;
        justify-content: end !important;
        align-items: end !important;
        padding-right: 64px !important;
    }
}

@media screen and (min-width: 421px) and (max-width: 520px) {
    .display-content-dashboard {
        top: 94px !important;
        right: 18px !important;
    }

    .image-content-paragraph {
        line-height: 15px !important;
        font-size: 9px !important;
        padding-bottom: 5px !important;

    }

    .image-content-first-heading {
        color: white !important;
        font-size: 24px !important;
        font-weight: 400 !important;
        font-family: sans-serif !important;
        margin-bottom: -10px !important;
    }

    .section-nav-home {
        display: flex !important;
        justify-content: end !important;
        align-items: end !important;
        padding-right: 64px !important;
    }
}

@media screen and (min-width: 521px) and (max-width: 620px) {
    .display-content-dashboard {
        top: 132px !important;
        right: 18px !important;
    }

    .image-content-first-heading {
        font-size: 25px !important;
        margin-bottom: -8px !important;
    }

    .image-content-paragraph {
        font-size: 11px !important;
        line-height: 20px !important;
        padding-bottom: 9px;
    }

    .section-nav-home {
        display: flex !important;
        justify-content: end !important;
        align-items: end !important;
        padding-right: 64px !important;
    }
}

@media screen and (min-width: 621px) and (max-width: 767px) {
    .display-content-dashboard {
        top: 167px !important;
        right: 18px !important;
    }

    .image-content-first-heading {
        font-size: 34px !important;
        margin-bottom: -8px !important;
    }

    .image-content-second-heading {
        font-size: 36px !important;
    }

    .image-content-first-heading {
        font-size: 32px !important;
        margin-bottom: -8px !important;
    }

    .image-content-second-heading {
        font-size: 32px !important;
    }

    .image-content-paragraph {
        color: white !important;
        line-height: 20px !important;
        font-weight: 400 !important;
        padding-bottom: 2px !important;
        font-size: 14px !important;
        font-family: 'circular' !important;
    }

    .section-nav-home {
        display: flex !important;
        justify-content: end !important;
        align-items: end !important;
        padding-right: 64px !important;
    }
}


@media screen and (min-width: 320px) and (max-width: 767px) {


    .image-content-second-heading {
        font-size: 20px !important;
    }

    .navbar-content-link {
        display: none !important;
    }

    .logo-content {
        font-size: 31px !important;
        color: white !important;
    }

    .main-toog {
        position: absolute !important;
        top: 9px !important;
        right: 16px !important;
        font-size: 29px !important;
        color: white;
    }

    /* .display-content-dashboard {
        top: 68px !important;
        right: 18px !important;
    } */


    .read-more-button {
        border: 1px solid #34cee7 !important;
        border-radius: 31px !important;
        padding: 2px 4px !important;
        color: white !important;
        font-size: 9px !important;
        font-weight: bolder !important;
    }

    .show-image-content-first-section {
        display: inline !important;
    }

    .main-toog {
        display: block !important;
    }

    .fist-image-content {
        display: flex !important;
        justify-content: center !important;
    }

    .fist-content-content-why {
        text-align: center !important;
    }

    .Seoncd-content-content-api {
        text-align: center !important;
        padding-bottom: 30px !important;
    }
}


@media screen and (min-width: 767px) and (max-width: 1024px) {

    .logo-content {
        font-size: 54px !important;
        font-weight: bolder !important;
        color: white !important;
        font-style: oblique !important;
        padding-left: 30px !important;
    }

    .main-toog {
        display: none !important;
    }

    .section-nav-home {
        display: flex !important;
        justify-content: center !important;
    }

    .display-content-dashboard {
        top: 211px !important;
        right: 42px !important;
    }

    .image-content-first-heading {
        font-size: 40px !important;
    }

    .image-content-second-heading {
        font-size: 40px !important;
        padding-top: 12px !important;
    }

    .image-content-paragraph {
        line-height: 29px;
    }
    .show-image-content-first-section {
        padding: 30px 60px 30px 60px !important;
        display: flex !important;
    }

    /* ------------------------------images css --------------------------------------- */
        .display-content-dashboard {
            top: 339px !important;
        }
        img.dashbard-main-image-global.dashbard-respon {
            width: 145px !important;
            top: 446px !important;
            left: -89px !important;
        }
        img.dashbard-main-image-three {
            width: 868px !important;
            height: 314px !important;
            top: 360px !important;
            left: -455px !important;
        }
        img.dashbard-main-image-four {
            width: 859px !important;
            height: 329px !important;
            top: 349px !important;
            left: -455px !important;
        }
        img.dashbard-main-image-five {
            width: 860px !important;
            height: 391px !important;
            top: 318px !important;
        }
        img.dashbard-main-image-six {
            width: 857px !important;
            height: 398px !important;
            top: 317px !important;
        }
        img.dashbard-main-image-seven {
            width: 877px !important;
            height: 475px !important;
            top: 278px !important;
        }

        img.dashbard-main-image-eight {
            width: 905px !important;
            height: 507px !important;
            top: 261px !important;
        }
        img.dashbard-main-image-nine {
            width: 929px !important;
            height: 561px !important;
            top: 236px !important;
        }
        img.dashbard-main-image-ten {
            width: 555px !important;
            height: 508px !important;
            top: 237px !important;
            left: -254px !important;
        }
        img.dashbard-main-image-tweleve {
            width: 503px !important;
            height: 529px !important;
        }

        img.dashbard-main-image-eleven {
            width: 399px !important;
            height: 317px !important;
            top: 332px !important;
            left: 55px !important;
        }
        .main-section-for-image {
            height: 929px !important;
        }
/* ------------------------------images css --------------------------------------- */

}


@media screen and (min-width: 1024px) and (max-width: 1280px) {

    .logo-content {
        font-size: 54px !important;
        font-weight: bolder !important;
        color: white !important;
        font-style: oblique !important;
        padding-left: 30px !important;
    }

    .main-toog {
        display: none !important;
    }

    .display-content-dashboard {
        top: 233px !important;
        right: 75px !important;
    }
/* ------------------------------images css --------------------------------------- */
.display-content-dashboard {
    top: 339px !important;
}
img.dashbard-main-image-global.dashbard-respon {
    width: 145px !important;
    top: 446px !important;
    left: -89px !important;
}
img.dashbard-main-image-three {
    width: 868px !important;
    height: 314px !important;
    top: 360px !important;
    left: -455px !important;
}
img.dashbard-main-image-four {
    width: 859px !important;
    height: 329px !important;
    top: 349px !important;
    left: -455px !important;
}
img.dashbard-main-image-five {
    width: 860px !important;
    height: 391px !important;
    top: 318px !important;
}
img.dashbard-main-image-six {
    width: 857px !important;
    height: 398px !important;
    top: 317px !important;
}
img.dashbard-main-image-seven {
    width: 877px !important;
    height: 475px !important;
    top: 278px !important;
}

img.dashbard-main-image-eight {
    width: 905px !important;
    height: 507px !important;
    top: 261px !important;
}
img.dashbard-main-image-nine {
    width: 929px !important;
    height: 561px !important;
    top: 236px !important;
}
img.dashbard-main-image-ten {
    width: 889px !important;
    height: 728px !important;
    top: 131px !important;
    left: -479px !important;
}
img.dashbard-main-image-tweleve {
    width: 503px !important;
    height: 529px !important;
}

img.dashbard-main-image-eleven {
    width: 551px !important;
    height: 430px !important;
    position: absolute;
    top: 301px !important;
    left: 55px !important;
}
.main-section-for-image {
    height: 929px !important;
}
/* ------------------------------images css --------------------------------------- */

}

@media screen and (min-width: 1280px) and (max-width: 1680px) {

    .display-content-dashboard {
        top: 469px !important;
    }
    img.dashbard-main-image-global.dashbard-respon {
        width: 150px !important;
    }
    img.dashbard-main-image-three {
        width: 901px !important;
        height: 353px !important;
        top: 476px !important;
        left: -455px !important;
    }
    img.dashbard-main-image-four {
        width: 900px !important;
        height: 368px !important;
        top: 469px !important;
        left: -455px !important;
    }
    img.dashbard-main-image-five {
        width: 903px !important;
        height: 436px !important;
        top: 434px !important;
    }
    img.dashbard-main-image-six {
        width: 902px !important;
        height: 451px !important;
        top: 428px !important;
    }
    img.dashbard-main-image-seven {
        width: 944px !important;
        height: 550px !important;
        top: 377px !important;
    }

    img.dashbard-main-image-eight {
        width: 975px !important;
        height: 584px !important;
        top: 359px !important;
    }
    img.dashbard-main-image-nine {
        width: 999px !important;
        height: 642px !important;
        top: 331px !important;
    }
    img.dashbard-main-image-ten {
        width: 967px !important;
        height: 816px !important;
        top: 220px !important;
        left: -479px !important;
    }
    img.dashbard-main-image-tweleve {
        width: 595px !important;
        height: 698px !important;
    }
  
    img.dashbard-main-image-eleven {
        width: 551px !important;
        height: 430px !important;
        position: absolute;
        top: 432px !important;
        left: 199px !important;
    }

    .main-section-for-image {
        height: 1113px !important;
    }
}







.mytogglediv {
    padding: 24px 25px;
}
.main-section-for-image img {
    width: 100%;
}

/* .navbar-content-link {
    padding-right: 71px;
} */

img.dashbard-main-image-ten {
    width: 1100px;
    height: 1100px;
    position: absolute;
    top: 104px;
    left: -500px;
    transition: all 0.1s ease;
}

img.dashbard-main-image-ten:hover {
    width: 1114px;
    height: 1131px;
    position: absolute;
    top: 83px;
    left: -500px;
}




.dashbard-main-image-global {
    width: 220px !important;
    animation: global 10s linear infinite !important;
    position: absolute;
    top: 581px;
    left: -78px;
}
  @keyframes global {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  img.dashbard-main-image-nine {
    width: 1096px;
    height: 866px;
    position: absolute;
    top: 255px;
    left: -500px;
    animation: globalNine 30s linear infinite !important;
}
   @keyframes globalNine {
    from {
      transform: rotate(0deg);

    }
    to {
     
      transform: rotate(360deg);

    }
  }

img.dashbard-main-image-eight {
    width: 1055px;
    height: 799px;
    position: absolute;
    top: 286px;
    left: -486px;
}

img.dashbard-main-image-seven {
    width: 1020px;
    height: 745px;
    position: absolute;
    top: 317px;
    left: -467px;
}


img.dashbard-main-image-six {
    width: 993px;
    height: 630px;
    position: absolute;
    top: 374px;
    left: -455px;
}

img.dashbard-main-image-five {
    width: 982px;
    height: 619px;
    position: absolute;
    top: 382px;
    left: -455px;
    animation: globalfive 30s linear infinite !important;
}
@keyframes globalfive {
    from {
      transform: rotate(360deg);
    }
    to {
     
      transform: rotate(0deg);

    }
  }


img.dashbard-main-image-four {
    width: 976px;
    height: 517px;
    position: absolute;
    top: 428px;
    left: -455px;
}


img.dashbard-main-image-three {
    width: 959px;
    height: 515px;
    position: absolute;
    top: 431px;
    left: -455px;
    animation: globalthree 10s linear infinite !important;
}

@keyframes globalthree {
    from {
        transform: rotate(0deg);
    }
    to {
     
      transform: rotate(360deg);

    }
  }

  img.dashbard-main-image-eleven {
    width: 723px;
    height: 555px;
    position: absolute;
    top: 382px;
    left: 231px;
}

img.dashbard-main-image-tweleve {
    width: 881px;
    height: 870px;
    position: absolute;
    top: 263px;
    left: 0;
}



